<div class="container">
    <h3 class="bg-primary text-white text-center">Web Design</h3>
<div class="row mg-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
       <div>
            Web design is a multi-disciplinary job, where you'd need not only knowledge
            in design (typography, color theory) but also skills in developing a website 
            (HTML, CSS, JavaScript). Some web designers are also involvedin interaction
            design when they code for animations and interactions using CSS and/or JavaScript.
       </div>
    </div>

</div>
</div>
