<!-- <p>empleaves works! parent</p> -->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="bg-primary text-white text-center">
                <h3>Employee Info</h3>
            </div>
            <div>
              <b> 
                   <p>Employee Name: {{empname}}</p> 
                   <p>Designation : {{designation}} </p>  
              </b>
                
            </div>
            <div>
                <b><app-empleaves-det propLeaves="10 Leaves Balance"></app-empleaves-det></b>
            </div>
        </div>
    </div>
</div>
