
<div class="container">
    <div class="row mt-5">
        <div class="bg-primary text-center"> 
            <h1>enum Colors</h1>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4">
                <div>
                    <h3>Color Name : {{ColorType}} </h3>
                    <br>
                    <button class="btn btn-danger" (click)="onColor(1)">Red</button>
                    <button class="btn btn-success" (click)="onColor(2)">Green</button>
                    <button class="btn btn-primary" (click)="onColor(3)">Blue</button>
                    <button class="btn btn-warning" (click)="onColor(4)">Yellow</button>
                    <button class="btn btn-light" (click)="onColor('')">None</button>
                </div>
        </div>
    </div>
</div>