<div class="container">
    <div class="row">
        <h3 class="bg-primary text-white text-center">Employee Information</h3>
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div>
               <p>Contact Id : {{ContactId}}</p>
               <p>Contact Name : {{ContactName}}</p> 
               <p>Company : {{Company}}</p> 
               <p>Due Amount : {{DueAmount}}</p> 
               <p>Phone : {{Phone}}</p> 
               <p>Area : {{Area}}</p> 
            </div>

        </div>

    </div>

</div>
