<!-- <p>array works!</p> -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div>
                <h3 class="bg-primary text-center">colors code</h3>
                <ul>
                    <h5 ><li [ngClass]="{'bg-success': arrNums[0]===10}">{{arrNums[0]}}</li></h5>
                    <h5 ><li [ngClass]="{'bg-danger': arrNums[1]===20}">{{arrNums[1]}}</li></h5>
                    <h5 ><li [ngClass]="{'bg-warning': arrNums[2]===30}">{{arrNums[2]}}</li></h5>
                    <h5 ><li [ngClass]="{'bg-info': arrNums[3]===40}">{{arrNums[3]}}</li></h5>
                </ul>
            </div>
        </div>
    </div>
</div>


