<!-- <p>assignment2 works!</p> -->
<form [formGroup]="frmContact" (ngSubmit)="onSubmit()">
    <p>Forms</p>
    <div class="form-group">
        <label>Full Name</label>
        <input type="text" formControlName="fullname" class="form-control"/>
    </div>
    <div class="form-group">
        <h5>Roles</h5>
        <div formArrayName="roles">
            <div *ngFor="let role of roles.controls; let i=index">
                <div [formGroupName]="i">
                    {{i}} Role Name 
                    <div class="row">
                        <div class="col-4">
                            <input type="text" formControlName="role" class="form-control"/>
                        </div>
                       
                        <div class="col-4">
                            <button (click)="removerole(i)" class="btn btn-danger">Remove Role</button>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div>
        <button (click)="addroles()" class="btn btn-primary">Add Role</button>
    </div>    
    <div class="mt-2">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>