<!-- <p>assignment1 works!</p> -->
<div class="container">
    <div class="row mt-5">
        <h3 class="bg-success text-white text-center">Employee Info</h3>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <th class="font-weight-bold">Employee Id</th>
                <th class="font-weight-bold">Employee Name</th>
                <th class="font-weight-bold">Salary</th>
                </thead>
                <tbody *ngFor="let Emp of empData">
                <tr>
                    <td>{{Emp.EmpId}}</td>
                    <td>{{Emp.Empname}}</td>
                    <td>{{Emp.Salary}}</td>
                  
                    <td><button class="btn btn-info" (click)="onDetails(Emp)">Details</button></td>
                </tr> 
              </tbody>
            </table>
        </div>
        <div class="col-6">
            <table class="table table-striped">
                <thead>
                <th class="font-weight-bold">Employee Id</th>
                <th class="font-weight-bold">Employee Name</th>
                <th class="font-weight-bold">Salary</th>
                </thead>
                <tbody *ngFor="let Emp of empData2">
                <tr>
                    <td>{{Emp.EmpId}}</td>
                    <td>{{Emp.Empname}}</td>
                    <td>{{Emp.Salary}}</td>
                  
                </tr> 
              </tbody>
            </table>
        </div>
    </div>

</div>



