<!-- <p>userlist works!</p> -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                <th class="font-weight-bold">User Id</th>
                <th class="font-weight-bold">User Name</th>
                <th class="font-weight-bold">Details</th>
                </thead>
                <tbody *ngFor="let user of userData">
                <tr>
                    <td>{{user.userId}}</td>
                    <td>{{user.userName}}</td>
                  
                    <td><button class="btn btn-info" (click)="onDetails(user.userId)">Details</button></td>
                </tr>
                <tr *ngIf="selecteduserId === user.userId">
                    <td colspan="4">
                        <app-userchid [propUser]="user"></app-userchid>
                    </td>
                </tr>
               
            </tbody>

            </table>
           

        </div>

    </div>

</div>




